/*
	_content.css
*/
body[data-aos-easing]{
	display: block !important;
}
[class*="infonotify-"]{
	padding: 15px 15px;
	border: 1px solid;
	margin-bottom: 5px;
	color: rgba(black, 1);
	display: block;
	&:before{
		@extend .fa;
		display: inline-block;
		position: absolute;
		text-align: center;
		width: 20px;
		top: 50%;
		transform: translateY(-50%);
    margin-left: -30px;
	}
	@media (min-width: 992px) {
		padding-left: 45px;
	}
	@media (max-width: 991px) {
		&:before{
			display: none;			
		}
	}
}
.infonotify-info{
	background-color: rgba(gray, 0.3);
	border-color: rgba(gray, 0.4);
	@extend .fa-info;
}
.infonotify-attention{
	background-color: rgba(yellow, 0.3);
	border-color: rgba(yellow, 0.4);
	@extend .fa-warning;
}
.infonotify-error{
	background-color: rgba(red, 0.3);
	border-color: rgba(red, 0.4);
	@extend .fa-ban;
}
.infonotify-success{
	background-color: rgba(green, 0.3);
	border-color: rgba(green, 0.4);
	@extend .fa-thumbs-o-up;
}

.ls-icon{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.border-def{
	border: 1px solid $color-gray-1;
}
.mtype-icon-content{
	top: 10px;
	right: 13px;
	color: white;
	position:  absolute;
}
.mtype-icon{
	margin: 5px;
	font-size: 28px;
	display: block;
}
.icm-musical-note{
	font-size: 1em;
	border: 1px solid white;
	border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  &:before{
  	width: 100%;
    padding-right: 3px;
  }
}
.icm-bookmark-normal, .icm-bookmark{
	font-size: 17px;
}
.circle-ava{
	border-radius: 50%;
	background-image: url('../img/other/ava-def.jpg');
	background-position: center;

	background-size: cover;
}
.fa-star{
	color: $color-gray-1;
	&.fill{
		color: $color-1;
	}
}
.container.p-b-30{
	@media (max-width: 991px) {
		padding-bottom: 0;
	}
}
.date-panel{
	@media (max-width: 991px) {

	}
}
.date{
	font-size: 12px;
	@media (max-width: 991px) {
		display: block;
		font-size: 0.7em;
		margin-top: 5px;
		&.m-l-15{
			margin-left: 0;
		}
	}
}

.bnr-entry{
	color: white;
	.align-i-center{
		background-size: cover;
		
	}
	.bg-shadow{
		background-color: $color-1;
		opacity: 0.65;
	}
	h1{
		padding-left: 15px;
		border-left: 5px solid;
	}
	@media (min-width: 992px) {
		.align-i-center{
			height: 215px;
		}
		h1{
			width: 80%;
		}
	}
	@media (max-width: 991px) {
		.container{
			width: 100%;
		}
	}
}





.drop-sub{
	position: relative;
	.drop-sub-box{
		opacity: 0;
		visibility: hidden;
		transform: translateY(12px);
		transition: 
							transform 0.3s ease-in-out,
							visibility 0.3s ease-in-out,
							opacity 0.3s ease-in-out
							;
		position: absolute;
		z-index: 1;
	}
	&:hover{
		.drop-sub-box{
			opacity: 1;
			transform: inherit;
			visibility: visible;
			transition: 
				transform 0.3s ease-in-out,
				visibility 0.3s ease-in-out,
				opacity 0.3s ease-in-out
		}
	}
}


.bg-shadow{
	pointer-events: none;
}


.recomended-items{
	margin-left: -10px;
	margin-right: -10px;
	.cell-hover{
		align-items: flex-end;
		padding-top: 15px;
		padding-bottom: 15px;
		&>div{
    	transition: all 0.8s ease;
		}
	}
	figure{
		@media (min-width: 992px){&:nth-child(1){.img{height: 440px;}}}
		@media (max-width: 991px){&:nth-child(1){.img{height: 300px;}}}

		&:hover{
			.img{
				transform: scale(1.05);
				filter: blur(4px);
			}
			.cell-hover{
				background-color: rgba(black, 0.7);
				&>div{
					
				}
			}
		}
		.img{
			transition: all 0.5s steps(10);
			filter: blur(0);
		}
		.img-content{
			overflow: hidden;
			position: relative;
		}
		.img{
			background-size: cover;
			height: 210px;
		}
		@media (max-width: 991px){
			text-align: left;
			.img{
				height: auto;
				min-height: 210px;
			}
			.date{
				margin-left: 0;
			}
			.cell-hover{
				align-items: flex-start;
				&>div{
					height: 100%;
					display: flex;
					flex-direction: column;
					&>div{
						flex-basis: 100%;
						align-items: flex-start;
					}
					h3,p{
						flex: 1 1;
						align-items: flex-end;
					}
				}
			}
		}
	}
}
.fuller-link{
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
}


//weekarticles
.weekarticles{
	.flickity-btn-1 .flickity-prev-next-button{
		width: 20px;
		@media (min-width: 992px) {
			&.next{ 
				right: 0;
			}
			&.previous{ 
				left: 0;
			}
		}

	}
	.weekarticles-items{
		figure{
			transition: all 0.3s ease;
			filter: contrast(95%);
			&.is-selected, &:hover{
				filter: contrast(120%);
			}
		}
		.img{
			height: 140px;
			background-size: cover;
			background-position: center;
		}
	}
	@media (max-width: 991px) {
		&.p-b-30{
			padding-bottom: 0;
		}
	}
	a[data-fancybox]{
		display: inline-block;
	}
}
.weekarticles-nav{
	padding: 18px 30px;
	@media (max-width: 991px) {
		padding: 18px 50px;
		font-size: 0.9em;
		.flickity-viewport{
			background-color: lighten($color-gray-1, 8%);
		}
		.item{
			line-height: 35px;
		}
		&.flickity-btn-1{
			.flickity-prev-next-button{
				width: 42px !important;
				border: 1px solid $color-1;
				&:hover{
					background-color: $color-1;
					.arrow{
						fill: white;
					}
				}
				svg{
					width: 20px;
	    		left: 50%;
	    		transform: translateX(-50%);
				}
			}
		}
	}
	a{
		display: block;
		padding: 3px 10px;
	}
	.is-selected{
		color: $color-1;
	}
}
.weekarticles-items{
	figure{
		transition: all 0.3s ease;
		filter: contrast(95%);
		&.is-selected, &:hover{
			filter: contrast(120%);
		}
	}
	.img{
		height: 210px;
		background-size: cover;
		background-position: center;

	}
}

.arinfo{
	color: $color-gray-2;
	font-size: 0.88em;
	.separate{
		margin-bottom: 10px;
		width: 100%;
	}
	.active{
		color: $color-1;
	}
	@media (max-width: 991px) {
		//width: 100%;
	}
}


//subscribe-content
.subscribe-content{
	.wrapper{
		border-top: 5px solid $color-1;
		border-bottom: 3px solid $color-1;
		padding: 15px 10px;
		overflow: hidden;
		position: relative;
	}
	p{
		color: $color-gray-2;
	}
	.cirlce-icon{
		width: 60px;
		height: 60px;
		margin: auto;
		align-items: center;
		justify-content: center;
		display: flex;
		border-radius: 50%;
		background-color: $color-1;
		color: white;
		font-size: 30px;
	}
	.bg-icon{
		font-size: 300px;
		opacity: 0.1;
		z-index: -1;
		left: 50%;
	}
}
.bg-icon{
	position: absolute;
}
.subscribe-form{
	input{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $color-gray-2;
		width: 100%;
		padding: 10px 15px;
	}
}
//tg
.tg-widdget-content{
	@media (max-width: 991px){
		
			display: none;
		
	}
}
//tags-content
.tags-content{
	padding: 30px 20px;
	padding-top: 20px;
	@media (max-width: 991px) {
		padding: 30px 35px;
	}
}
.tags{
	position: relative;
	@media (max-width: 991px){
		margin-top: 10px;
		margin-bottom: 10px;
		.va-middle-inline.m-r-offset{
			display: none;
		}
		.tags-li{
			font-size: 12px;
			li{
				&:nth-child(1):before{
					position: absolute;
					left: -23px;
					top: 4px;
					content: "";
					width: 20px;
			    font-size: 18px;
			    color: #8c8c8c;
			    font-family: "icomoon" !important;
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
				}
			}
			@media (max-width: 991px) {
				text-align: left;
				padding: 0 40px;
			}
		}
	}
}
.bar-advertising-content{
	.img-content{
		transition: 0.4s;
		filter: brightness(100%);
		&:hover{
			filter: brightness(110%);
		}
	}
	.img{
		background-size: cover;
		background-position: center;
		height: 264px;
	}
}

.m-font-size{
	@media (max-width: 991px) {
		h2{
			font-size: 0.93em;
		}
		.btn-def{
			font-size: 0.8em;
		}
	}
}
//popular-articles
.popular-articles{
	@media (max-width: 991px){
		&[class*='m-v']{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
.popular-articles-items{

	figure{
		transition: all 0.3s ease;
		filter: contrast(95%);
		&:hover{
			filter: contrast(120%);
		}
	}
	.img{
		background-size: cover;
		height: 162px;
		background-position: center;
	}
	@media (max-width: 991px) {
		figure{
			text-align: left;
		}
		.desc-content{
			margin-top: 10px;
		}
	}
}


//short-news
.short-news{
	@media (max-width: 991px) {
		&[class*='m-v']{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	figure{
		transition: 0.3s;
		&:hover{
			h4{
				text-decoration: underline;
			}
		}
		@media (max-width: 991px) {
			padding-top: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid $color-gray-1;
		}
	}
}
.short-news-last{
	.img{
		background-size: cover;
		background-position: center;
		height: 215px;
	}

}
.short-news-items{
	.img{
		background-size: cover;
		background-position: center;
		height: 75px;
	}
	@media (max-width: 991px){
		.img{
			background-size: contain;
			height: 100px;
		}
		.desc-content{
			margin-top: 10px;
		}
	}
}






//news-items
.news-items{
	figure{
		vertical-align: top;
		&:hover{
			h4{
				text-decoration: underline;
			}
		}
	}
	.img{
		height: 210px;
		background-position: center;
		background-size: cover;
	}
}

//bloggers
.bloggers-items{
	.img-content{
		overflow: hidden;
		.img{
			transition: all 0.3s ease;
			transform: scale(1);
			background-image: url('../img/other/bloggers-def.jpg');
			background-position: center;
			background-size: cover;
			height: 180px;
		}
	}
	.hover-content{
		&:hover{
			.img{
				transform: scale(1.13) rotate(5deg);
			}
		}
	}
	.cell-hover{
		padding-top: 15px;
		padding-bottom: 15px;
		align-items: flex-end;
		background: linear-gradient( to bottom, rgba(#fff, 0.5), rgba(#000, 0.7) 100%) !important;
	}
}
.bloggers-themes{
	font-size: 0.78em;
	justify-content: space-between;
	.list{
		text-align: right;
		margin-left: 10px;
	}
	li{
		padding: 2px 10px;
		margin: 2px 0;
		color: white;
		display: inline-block;
	}
}

.weekarticles-items, .news-items, .popular-articles-items{

	@media (max-width: 991px) {
		.arinfo{
			text-align: center;
		}
		.top-panel{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.desc-content{
			text-align: left;
		}
		.img-content{
			.img{
				height: 180px;
			}
		}
	}
}







.tolike{
	// &:not(.fixed){
	// 	display: none;
	// }
}
.tolike-notify{
	background-color: $color-4;
	display: none;
  padding: 10px 15px;
  bottom: 15px;
  border-radius: 15px;
  z-index: 130;
  //pointer-events: none;
  position: fixed;
  transform: translate(-50%);
  left: 50%;
  &.notifyed{
  	//transform: translateX(-50%) ;
  }
}
.tolike.fixed{
	position: fixed;
	z-index: 12;
	bottom: 10px;
	right: 15px;
	padding-left: 0;
	height: 50px;
	padding-right: 0;
	margin: 0;
	text-align: center;
	.btn-like{
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
		.btn-this{
			height: 50px;
			width: 50px;
			padding: 0 !important;
		}
		.icm-smile, .icm-smiling{
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	@media (min-width: 991px){
		display: none;
	}
}


//rubric-article
.rubric-article{
	a[data-fancybox]{
		display: inline-block;
	}
	padding: 20px 30px;	
	@media (max-width: 991px) {
		padding: 20px 10px;
		.date-panel{
			margin-top: 5px;
			margin-bottom: 5px;
			display: flex !important;
			width: 100%;
			justify-content: space-between;
		}
	}
	.article-content{
		@media (max-width: 991px) {
			text-align: justify;
			font-size: 0.71em;
			h2{
				font-size: 1.2em;
			}
		}
	}
}
[data-fancybox][data-src='#form-signin']{
	display: inline-block;
}
.article-player{
	.jp-audio, .jp-jplayer{
		//width: 100%;
	}
	.jp-audio, .jp-audio-stream, .jp-video{
		border: none;
	}
	.jp-details, .jp-playlist{
		border: 1px solid lighten($color-gray-1, 5%);
		background-color: lighten($color-gray-1, 15%);
		//border-top: 0;
	}
	div.jp-type-playlist div.jp-playlist a.jp-playlist-current, div.jp-type-playlist div.jp-playlist a:hover{
		color: $color-1;
	}

	.jp-interface{
		background-color: white;
	}
	@media (max-width: 991px){
		.jp-audio .jp-controls{
    	display: flex;
    	justify-content: center;
		}
		.jp-audio{
			width: 100%;
		}
		.jp-playlist{
			text-align: left;
		}
		.jp-audio .jp-interface{
			height: auto;
		}
		.jp-audio .jp-type-playlist .jp-progress{
	    left: 0;
	    width: 100%;
	    position: relative;
	    margin-top: 15px;
	    top: 0;
		}
		.jp-audio .jp-type-playlist .jp-time-holder{
	    left: 0;
	    width: 100%;
	    position: relative;
    	height: 20px;
	    top: 0;
		}
		.jp-toggles{
			display: none;
		}
	}
}



.article-video{
	iframe{
		width: 100%;
		@media (max-width: 991px) {
			width: 100% !important;
			height: auto !important;
		}
	}
}

.article-buttons{
	.icm-tag{
		width: 20px;
		font-size: 18px;
		color: $color-gray-2;
	}
	.tags-li{
		li{
			margin-top: 0;
		}
	}
}
.btn-like-input{
	& ~ .btn-like{
		.icm-smiling{
			display: none;
		}	
	}
	&:checked{
		& ~ .btn-like{
			.icm-smiling{
				display: block;
			}	
			.icm-smile{
				display: none;
			}	

		}
	}
}
.tolike-article{
	@media (max-width: 991px) {
		display: none;
	}
}
.btn-like{
	background-color: $color-like;
	a, .btn-this{
		padding-left: 55px !important;
	}
	.icm-smiling, .icm-smile{
    font-size: 26px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
	}
}
.share-li{
	li{
		border: 1px solid $color-gray-1;
		padding: 0;
		transition: 0.4s;
	}
	a{
		padding: 6px 20px;
    height: 40px;
    align-items: center;
	}
	@media (max-width: 991px) and (min-width: 360px){
		a{
			height: 30px;
			padding: 0px 5px;
		}
		font-size: 0.7em;
		white-space: nowrap;
	}
	@media (max-width: 360px) {
		li{
			margin-bottom: 5px;
		}
	}
}
.facebook-bg{
	$color: #3D71AA;
	color: $color; 
	&:hover{
		border-color: $color;
		background-color: $color;
		color: white;
	}
}
.telegram-bg{
	$color: #3091F8;
	color: $color; 
	&:hover{
		border-color: $color;
		background-color: $color;
		color: white;
	}
}
.copy-code-bg{
	$color: #B82049;
	color: $color; 
	&:hover{
		border-color: $color;
		background-color: $color;
		color: white;
	}
}
.huiden{
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.article-comments{
	padding: 20px 30px;
}
.article-comments-form{
	@media (max-width: 991px) {
		h4{
			font-size: 1.3em;
		}
		.btn-def{
			width: 100%;
		}
	}
}
.article-comments-items{
	@media (max-width: 991px) {
		font-size: 0.9em;
		.img-content{
			display: flex;
			align-items: center;
		}
		.img{
			margin-left: 0;
			min-width: 90px;
			margin-right: 15px;
		}
		.desc-content{
			font-size: em(14, 15);
			text-align: left;
		}
		.date-panel{
			text-align: center;
			color: $color-gray-2;
			margin-bottom: 10px;
			h4{
				display: none;
			}
		}
		&.parag-gray{
			p{
				color: black;
			}
		}
	}
	.comments-author{
		display: none;
		@media (max-width: 991px) {
			text-align: left;
			display: block;
		}
	}
	.img{
		width: 90px;
		height: 90px;
	}
}



.same{
	.article-carousel{
		//overflow: hidden;
		@media (max-width: 991px) {
			padding-top: 30px;
			.flickity-btn-2{
				width: 100%;
				height: auto;
				.flickity-prev-next-button{
					background: transparent;
					transition: all 0.3s ease;
					top: 50%;
					width: 40px;
					height: 40px;
					z-index:2;
					border-radius: 0;
					&:hover, &:focus{
						opacity: 1;
					}
					.arrow{
						fill: $color-1;
					}
					svg{
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						transform: scale(0.8);
					}
					&.previous{
						left: 0px;
					}
					&.next{
						right: 0px;
					}
				}
			}
		}
	}
	.weekarticles-items{
		margin-left: -10px;
		margin-right: -10px;
		figure{
			position: relative;
			padding-left: 10px;
			padding-right: 10px;
			@media (max-width: 991px) {
				width: 80%;
			}
		}
	}
	.flickity-btn-2{
		.flickity-prev-next-button{
			@media (min-width: 992px) {
				top: -30px;
			}
		}
	}
}


.short-popular{
	.recomended-items{
		figure:nth-child(1){
			.img{
				height: 210px;
			}
		}
	}
}

//rubric
.rubric{

}



.faq-accordion{
	// .panel-default{
	// 	border-color: $color-1;
	// }
	.panel-heading{
		background-color: transparent;
		padding: 0;
		h4{
			text-transform: none;
		}
		.fa{
			position: absolute;
			right: 15px;
			transform: rotate(180deg);
			top: 14px;
		}
		a{
			display: block;
			padding: 10px 15px;
			transition: all 0.3s ease;
			//border: 1px solid $color-1;
			&:not(.collapsed){
				color: white;
				background-color: $color-1;
				.fa{
					transform: scale(1);
				}
			}
		}
	}
}
.panel{
	background-color: transparent;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
	border-top: none;
}
.panel-group .panel{
	border-radius: 0;
}




.reg-form{
	.iwho-content{
		input{
			&:checked{
				& + label{
					.btn-opacity{
						background-color: $color-1;
						color: white;
					}
				}
			}
		}
	}
}
.personalarea{
	.user-detail{
		.viewnamefile{
			@media (min-width: 991px) {
				width: 260px;
			}
		}
		@media (max-width: 991px) {
			.flex{
				flex-direction: column;
			}
		}
	}
}
.viewnamefile{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.bloggercover-img{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 120px;
}

//bloggers-article
.blogger-face{
	.blogger-face-content{
		background: linear-gradient(to right, rgba(#000, 0.4 )-20%, #f1f1f1 35%, rgba(#fff, 0.0) ) ;
		.align-i-center{
			height: 260px;
			.text-center{
				@media (max-width: 991px) {
					width: 100%;
				}
			}
		}
		.circle-ava{
			border: 5px solid white;
		}
		@media (max-width: 991px) {
			background: linear-gradient(to right, rgba(#000, 0.4 ) 60%, rgba(#fff, 0.0) ) ;
		}
	}
}
.list-rubric{
	li{
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}



@keyframes cosmonaut{
	from, to{
		transform: translate3d(0%, 5%, 0);
	}
	50%{
		transform: translate3d(0%, 0%, 0);
	}
}
@keyframes ligh{
	from, to{
		opacity: 0.5;
	}
	50%{
		opacity: 0.9;
	}
}

/*soon*/
.soon{
	overflow: hidden;
	height: 100vh;
	font-size: 0.9em;
	font-family: sans-serif;
	background-color: black;
	.soon-content{
		color: white;
		.align-center{
			height: 100vh;
			position: relative;
			z-index: 1;
		}
	}
	.soon-logo{
		transition: all 0.1s linear;
		img{
			width: 475px;
		}
		p{
			margin-top: 10px;
			font-size: 22px;
		}
		@media (max-width: 991px) {
			img{
				width: 80%;
			}
		}
	}
	.soon-bg{
		width: 110%;
		height: 110%;
		left: -5%;
		position: absolute;
		background-position: center;
		background-image: url('../img/bg/bg-soon.jpg');
		background-size: cover;
		transition: all 0.15s linear;
		background-repeat: no-repeat;
	}
	#footer{
		z-index: 2;
		border-top: 1px solid rgba(white, 0.1);
		.copy-content{
			background-color: transparent;
		}
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	.cosmonaut{
		position: absolute;
		bottom: 5%;
		left: 11vw;
		transition: all 0.15s ease;
		width: 30%;
		height: 50%;
		.img{
			width: 100%;
			height: 100%;
			transition: all 0.15s ease;
			animation: cosmonaut 4s ease-in-out infinite;
			background-size: 20vw;
    	background-position: bottom;
    	background-repeat: no-repeat;
			&:before{
				@extend .claf;
				background-image: url('../img/other/cosmonaut-lighting.png');
				animation: ligh 4s ease-in-out infinite;
				background-size: inherit;
				background-repeat: inherit;
    		background-position: inherit;
			}
		}
		@media (max-width: 991px) {
			display: none !important;
		}

	}
}

.bar-advertising-content{
	margin-bottom: 30px;
}

//personalarea
.user-ava{
	.img{
		height: 220px;
		background-size: cover;
		background-position: bottom center;
	}
	@media (max-width: 991px) {
		.img{
			background-size: contain;
		}
	}
}
.user-btns{
	.btn-def{
		width: 170px;
		&:hover{
			background-color: $color-gray-2;
		}
		@media (max-width: 991px) {
			width: auto;
			display: block;
			margin-top: 15px;
			a.p-v-5{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
	a{
		justify-content: center;
	}

}
.btn-addarticle{
	background-color: #4d9e35;
	[class*="icm"]{
		font-size: 22px;
	}
	a{
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
}
.btn-myarticles{
	background-color: #3d7dae;
	[class*="icm"]{
		font-size: 22px;
	}
}
.btn-fav{
	background-color: $color-1;
	[class*="icm"]{
		font-size: 22px;
		&:before, &:after{
			color: inherit;
		}
	}
}

.user-info{
	.panel-default{
		border: none ;
	}
	.panel-heading{
		border: 1px solid $color-gray-1;
		border-radius: none;
	}
}
.panel-body{
	.select2-container{
		min-width: 100%
	}
}